<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <h3>Welcome</h3>
                        <p>Register Thesis</p>
                    </div>
                    <div class="col-md-9 register-right">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Thesis Form registration</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Keywords" value=""  [(ngModel)]="keyWords"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Thesis Subject" value="" [(ngModel)]="subject"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Teacher" value="" [(ngModel)]="teacher"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"  placeholder="Type" value="" [(ngModel)]="type"/>
                                        </div>
                                        <input type="submit" class="btnRegister"  (click)="newThesis()"/>
                                        <button  class="btnRegister"  (click)="gotoList()">Back</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
